global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "node_exporter"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9100"]

  # Temp entry for init example
  - job_name: "bld"
    scrape_interval: 5s
    static_configs:
      - targets: ["172.23.0.10:9645"]
        labels:
          member: 'bld'
          chain: 'polkadot'
          node_type: 'rpc'
      - targets: ["172.23.0.10:9655"]
        labels:
          member: 'bld'
          chain: 'kusama'
          node_type: 'rpc'

  - job_name: "turboflakes"
    scrape_interval: 5s
    static_configs:
      - targets: ["172.23.0.21:10301", "172.23.0.22:10302"]
        labels:
          member: 'turboflakes'
          chain: 'polkadot'
          node_type: 'rpc'
      - targets: ["172.23.0.21:10300"]
        labels:
          member: 'turboflakes'
          chain: 'polkadot'
          node_type: 'boot'
      - targets: ["172.23.0.21:10306", "172.23.0.22:10307"]
        labels:
          member: 'turboflakes'
          chain: 'kusama'
          node_type: 'rpc'
      - targets: ["172.23.0.21:10305"]
        labels:
          member: 'turboflakes'
          chain: 'kusama'
          node_type: 'boot'
      - targets: ["172.23.0.21:10311", "172.23.0.22:10312"]
        labels:
          member: 'turboflakes'
          chain: 'westend'
          node_type: 'rpc'
      - targets: ["172.23.0.21:10310"]
        labels:
          member: 'turboflakes'
          chain: 'westend'
          node_type: 'boot'

  - job_name: ibpfederation
    metrics_path: /federate
    honor_labels: true
    scheme: https
    params:
      match[]:
      - '{job="substrate"}'
    static_configs:
    - targets:
      - ibp-monitor.amforc.com:9090

  - job_name: 'metaspan'
    scrape_interval: 15s
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
      - '{job="ibp-prometheus"}'
    static_configs:
      - targets:
        - "31.22.13.147:50090"
