global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "node_exporter"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9100"]

  - job_name: turboflakes
    metrics_path: /federate
    honor_labels: true
    scheme: https
    params:
      match[]:
        - '{job="substrate"}'
    static_configs:
      - targets:
          - ibp-prometheus.turboflakes.io:9095

  - job_name: amforc
    metrics_path: /federate
    honor_labels: true
    scheme: https
    params:
      match[]:
        - '{job="substrate"}'
    static_configs:
      - targets:
          - ibp-monitor.amforc.com:9090

  - job_name: "metaspan"
    scrape_interval: 15s
    honor_labels: true
    metrics_path: "/federate"
    params:
      "match[]":
        - '{job="substrate"}'
    static_configs:
      - targets:
          - "ibp-metrics.metaspan.io" 

  - job_name: "stakeplus"
    scrape_interval: 15s
    honor_labels: true
    metrics_path: "/federate"
    params:
      "match[]":
        - '{job="substrate"}'
    static_configs:
      - targets:
          - "prometheus.stake.plus:443"

  - job_name: "helikon"
    scrape_interval: 15s
    honor_labels: true
    metrics_path: "/federate"
    params:
      "match[]":
        - '{job="substrate"}'
    static_configs:
      - targets:
          - "77.92.101.227:19300"

  - job_name: "gatotech"
    scrape_interval: 15s
    honor_labels: true
    metrics_path: "/federate"
    params:
      "match[]":
        - '{job="substrate"}'
    static_configs:
      - targets:
          - "138.59.133.242:9090"

  - job_name: dwellir
    metrics_path: /713173e6-ff3f-46ab-b245-b41da8f717d3/federate
    honor_labels: true
    scheme: https
    params:
      match[]:
        - '{__name__=~"substrate.*"}'
    static_configs:
      - targets:
          - ibp-metrics-ng.dwellir.com

  - job_name: "rotko"
    metrics_path: "/federate"
    honor_labels: true
    scheme: https
    params:
      match[]:
        - '{__name__=~"substrate.*"}'
    static_configs:
      - targets:
          - ibp-metrics.rotko.net

  - job_name: radiumblock
    metrics_path: /federate
    honor_labels: true
    scheme: https
    params:
      match[]:
        - '{job="substrate"}'
    static_configs:
      - targets:
          - ibp-prometheus.radiumblock.co

  - job_name: polkadotters
    metrics_path: /federate
    honor_labels: true
    params:
      match[]:
        - '{job="substrate"}'
    static_configs:
      - targets:
        - "202.37.148.106:19090"
