server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: "http://{{ hostvars[groups['monitoring'][0]]['vpn_ip'] }}:3100/loki/api/v1/push"
    external_labels:
      node_name: {{ inventory_hostname }}

scrape_configs:
  # Journal collecting
  - job_name: journal
    journal:
      max_age: 72h
      json: false
      labels:
        job: journal
    relabel_configs:
      - source_labels: [__journal__systemd_unit]
        target_label: systemd_unit
      - source_labels: [__journal__hostname]
        target_label: nodename
      - source_labels: [__journal_syslog_identifier]
        target_label: syslog_identifier
      - source_labels: [__journal__comm]
        target_label: command

  # Docker collecting
  #- job_name: flog_scrape
  #  docker_sd_configs:
  #    - host: unix:///var/run/docker.sock
  #      refresh_interval: 5s
  #  relabel_configs:
  #    - source_labels: ['__meta_docker_container_name']
  #      regex: '/(.*)'
  #      target_label: 'container'
  #    - source_labels: ['__meta_docker_container_log_stream']
  #      target_label: 'logstream'
  #    - source_labels: ['__meta_docker_container_label_logging_jobname']
  #      target_label: 'job'
  